<h1>Help</h1>
<p>
  You can go <%= link_to "here", root_path %> to see the Top 100 images in 500px's Popular stream.
</p>
<p>
  If you need to contact me you can message me on my <%= link_to "Twitter", 'https://twitter.com/makramkd' %>.
</p>