<div class="row">
  <div class="col-lg-12">
    <h1>Top 100 Showcase</h1>
  </div>
</div>

<p id="notice">
  <% if session[:user_id].nil? %>
      <b>Note:</b> you are not logged in. Please login to be able to favorite photos in the showcase.
  <% elsif notice.nil? %>
  Welcome to the Top 100 Showcase from 500px's Popular stream!
  <% else %>
  <%= notice %>
  <% end %>
</p>

<!-- Render images in rows of 4 columns -->
<% @image_id_url_array.in_groups_of(4, false).each do |group| %>
    <div class="row">
      <% group.each do |(image_id, image_url)| %>
          <div class="col-xs-12 col-md-3 center-block padded-from-top">
            <%= image_tag image_url, class: 'img-responsive' %>
            <% if session[:user_id] %>
                <div class="text-center">
                  <!-- We have to create the action manually in order to be able to use a <button> tag instead
                       of the <input> tag for submit. -->
                  <%= button_to create_favorite_action(image_id), data: {:img_id => image_id}, method: :post, class: 'btn btn-primary' do %>
                  <span class="glyphicon glyphicon-star"></span> Favorite Photo
                  <% end %>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
<% end %>