<div class="row">
  <div class="col-lg-12">
    <h1>Top 100 Showcase</h1>
  </div>
</div>

<p id="notice">
  <% if notice %>
  <%= notice %>
  <% else %>
  <b>Note:</b> you are not logged in. Please login to be able to favorite photos in the showcase.
  <% end %>
</p>

<!-- Render images in rows of 4 columns -->
<% @image_id_url_array.in_groups_of(4, false).each do |group| %>
    <div class="row">
      <% group.each do |(image_id, image_url)| %>
          <div class="col-xs-12 col-md-3">
            <%= image_tag image_url, class: 'img-responsive' %>
            <% if session[:user_id] %>
            <%= button_to '', { action: 'favorite_photo', img_id: image_id }, { class: 'glyphicon glyphicon-heart' } %>
            <% end %>
          </div>
      <% end %>
    </div>
<% end %>