<!DOCTYPE html>
<html>
<head>
  <title>Top 100 Showcase for 500px</title>
  <%= render 'layouts/rails_default' %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container">
  <%= yield %>

  <%= render 'layouts/footer' %>
</div>

</body>
</html>